version: "3.9"

services:
  backend:
    build: .
    container_name: careersync-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: careersync-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: careersync-redis
    ports:
      - "6379:6379"
volumes:
  mongo_data:
